@model IEnumerable<ChannelEngine.WebApp.Models.Order.OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<h1>All orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MerchantOrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelOrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInclVat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MerchantOrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelOrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalInclVat)
            </td>
        </tr>
}
    </tbody>
</table>
